@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@font-face
{
    font-family: xenoDemon;
    src: url(./fonts/XenoDemonCondensed-mdZP.otf);
    font-weight: bold;
}
@font-face {
    font-family: kosugi;
    src: url(./fonts/Kosugi-Regular.ttf);
    font-weight: bold;
}
body {
    cursor: default;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Teko', sans-serif; /*How to use Teko font */
    background: grey; /*rgb(29, 29, 29)*/
    transition: background-color .5s;
}

.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.25%; /*About 60px*/
}
.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover { color: #f1f1f1; }  
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25%; /*About 18px*/
    font-size: 200%; /*About 36px*/
    margin-left: 312.5%; /*About 50 px*/
}

@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .QAnav {padding-top: 15px;}
    .QAnav a {font-size: 18px;}
}

.QAnav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 29, 29);
    overflow: hidden;
    transition: 0.5s;
    padding-top: 3.25%; /*About 60px*/
}
.QAnav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.QAnav a:hover { color: #f1f1f1; }
.QAnav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px; /*About 200%*/
    margin-left: 50px;
}
#dots3, #dots4, #dots5
{
    color: whitesmoke;
    margin-left: 34px;
    margin-top: -1rem;
}
#more3, #more4, #more5
{ 
    display: none;
    color: whitesmoke;
    margin-left: 34px;
    margin-top: -1rem;
}
#logoSide { margin-left: -50%; }
#logoSide:hover { transform: translateY(-10px); }

.langnav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.langnav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.langnav a:hover { color: #f1f1f1; }
.langnav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

div.header
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#sidebar-text
{
    cursor: pointer;
    font-size: 50px;
    color: whitesmoke;
    margin-left: 5px;
    margin-top: 200px;
}
#sidebar-text:hover { color: rgb(131, 3, 3); } /*ask dom for a color to use for this*/
#introbar
{
    padding-left: 4.25%; /*About 80px*/
    text-align: left;
    background: rgb(29, 29, 29);
    margin-top: -6.25%; /*About -120px*/
    border-bottom:  8px inset; /*About 8px*/
    border-color: rgb(54, 54, 54);
    transition: background-color .5s;
}
#introbar h1
{
    font-size: 60px;
    color:  rgb(131, 3, 3);
    margin-bottom: -100px;
}
#introbar h2
{
    font-size: 40px;
    color: whitesmoke;
    margin-bottom: -1rem;
    margin-left: 225px;
}
#introbar h3
{
    cursor: pointer;
    color: whitesmoke;
    font-size: 40px;
    margin-left: 93%;
    margin-top: -3.25rem;
    margin-bottom: -30px;
}
#introbar h3:hover { color: rgb(131, 3, 3); }

#fluff
{
    margin-top: -85px;
    background-image: url(./images/red_circuits.jpg);
    background-position: 0px 85px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 300px;
    text-align: center;
}
h1.fluff-title
{
    font-family: 'xenoDemon';
    font-size: 100px;
    padding-top: 200px;
    margin-bottom: 10px;
    color: whitesmoke;
}
p.border
{
    margin: auto;
    border-bottom:  8px inset;
    border-color: rgb(54, 54, 54);
    width: 200px;
    margin-bottom: -2rem;
}
h3.slogan
{
    font-size: 50px; 
    color: whitesmoke;
    margin-bottom: 10px; 
}
a.fluff-links { font-size: 30px; }
a.fluff-links:link, a.fluff-links:visited
{
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.fluff-links:hover, a.fluff-links:active, #fluff-personal:hover { background-color: rgb(29, 29, 29) }
#fluff-resume
{
    margin-right: 10px;
}
#fluff-personal
{
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media screen and (max-width: 2000px)
{
    #projects
    {
        border-left: solid;
        border-right: solid;
        border-width: 400px;
        border-color: rgb(54, 54, 54);
        text-align: center;
        color: whitesmoke;
        background: rgb(29, 29, 29);
        border-top:  8px outset;
        border-color: rgb(54, 54, 54);
        transition: background-color .5s;
    }

    #pattern 
    { margin-bottom: -225.5%; /*-210.5%;*/ /*margin-right: 10%; FUCK THAT MARGIN*/ }
    #fistL0 { margin-left: -4.75%; }  /*regular img formatting*/
    #fistR0 /*Use this for yflipped img formatting*/
    { 
        margin-left: 74%;
        margin-top: -26%;
    }
    #fistL1 { margin-left: -4.75%; }  /*Use this for zflipped img formatting*/
    #fistR1 /*Use this for xflipped img formatting*/
    { 
        margin-left: 78%;
        margin-top: -26%;
    }
}
@media screen and (max-width: 1750px)
{
    #projects
    {
        border-left: none;
        border-right: none;
        text-align: center;
        color: whitesmoke;
        background: rgb(29, 29, 29);
        border-top:  8px outset;
        border-color: rgb(54, 54, 54);
        transition: background-color .5s;
    }
    #pattern { display: none; }
}
h1.projects-title 
{
    font-size: 50px; 
    color:rgb(131, 3, 3);
    margin-bottom: -10px; 
}
h3.role 
{
    margin-top: -5px;
    font-size: 40px;
    color:rgb(131, 3, 3);
    margin-bottom: -10px; 
}
h3.newRole
{
    margin-top: -40px;
    font-size: 40px;
    color:rgb(131, 3, 3);
    margin-bottom: -10px; 
}
p.description
{
    font-size: 25px;
    margin: auto;
    max-width: 500px;
    margin-bottom: 5px; /*Subject to change*/
}
#myBtn1, #myBtn2, #myBtn6, #myBtn7, #myBtn8, #myBtn9, #myBtn10, #myBtn11
{
    font-family: 'Teko', sans-serif;
    font-size: 30px; 
    cursor: pointer;
    border: none;
    color: whitesmoke;
    background-color: rgb(29, 29, 29);
    margin-bottom: -20px;
}
#myBtn1:hover, #myBtn2:hover, #myBtn6:hover, #myBtn7:hover, #myBtn8:hover, #myBtn9:hover, #myBtn10:hover, #myBtn11:hover
{
    color: rgb(131, 3, 3);
}
h4.state
{
    font-size: 25px;
}
#more1, #more2, #more6, #more7, #more8, #more9, #more10, #more11 { display: none; }

.popup 
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    z-index: 999999;
}
.popup.popup-fullscreen { padding: 0; }
.popup iframe 
{
    border: 0;
    width: 100%;
    height: 100%;
}
.overflow-hidden 
{
    height: 100vh;
    overflow: hidden;
}  
.go-back {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 2000px)
{
    #personal
    {
        border-left: solid;
        border-right: solid;
        border-width: 400px;
        border-color: rgb(171, 7, 7);
        margin-top: -35px; 
        height: 100vh; 
    }
}
@media screen and (max-width: 1500px)
{
    #personal
    {
        border: none;
        margin-top: -35px; 
        height: 100vh; 
    }
}
.personal-main
{
    background: rgb(131, 3, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.personal-main-content > div
{
    background: url("./images/little-skeelball-appreciation-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}  
.personal-main-content
{
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}  
.personal-img img
{
    display: block;
    width: 200px;
    margin-top: -1rem;
}
.personal-img
{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 400% 400% 5% 5% / 700% 700% 100% 100%;
    transition: all 0.5s ease-in-out;
}
  
.shadow
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after
{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .personal-img { transform: translateY(-10px); }
.shadow:hover::after { opacity: 1; }

.personal-main-content h2
{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.personal-main-content h3
{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.personal-name
{
    font-family: 'xenoDemon';
    color: whitesmoke;
}
.personal-title
{
    font-family: 'Teko', sans-serif; 
    color: whitesmoke;
}
.icons
{
    margin-top: -35px;
    background: rgb(171, 7, 7);
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li
{
    list-style-type: none;
    background: rgb(29, 29, 29);
    color: whitesmoke;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    margin-right: -0.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover
{
    background: rgb(54, 54, 54);
    color: whitesmoke;
}
.icons a:after { display: none; }
.icons button
{
    background: transparent;
    border: 0;
    margin-right: -0.35rem;
}
.icons a { color: inherit; }
.text-envelope{ color: #000000; }